{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/main.css">
<title>TO-DO Application</title>
{% endblock head %}
{% block contents %}

    <form action="/edit/{{todo.id}}" method="post">
        <textarea name="task" rows="5">{{ todo.task }}</textarea>
        <label for="completed">Done?</label>
        <input type="checkbox" name="completed" 
        {% if todo.completed %}
        checked
        {% endif %}>
        <button type="submit">Save</button>

{% endblock contents %}